.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.navbar-part1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
.navbar-part1 {
  width: 100%;
}
.navbar-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 10px 0px;
}

.logo {
  margin: 0.3rem;
  background-color: #fff;
  color: var(--primary-color);
  padding: 0.3rem 0.3rem;
  border-radius: 20%
}
.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
.nav-item {
  padding: 5px 5x;
  border-radius: 5px;
  transition: var(--transition);
  margin: 0 0.5rem;
}

.nav-item.active {
  background-color: #eeee;
  color: #000;
}

.nav-item:hover {
  text-decoration: none;
  background-color: #eeee;
  transition: var(--transition);
  color: #000;
}

.nav-link {
  color: inherit;
}

#search {
  margin-left: 5px;
}

.navbar-toggler {
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 780px) {
 .navbar-toggler {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
  }
  .navbar-part2 > .navbar-items {
    display: none;
  }
  .navbar-part2 > .navbar-items.showItems {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
    width: 100%;
  }
  .navbar.showNavbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  list-style: none;
  margin: 5px 0 0 10px;
  padding: 5px 0;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  display: block;
}



/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 921px) {

}